@import './classes-for-js.css';
@import './color.css';
@import './preloader.css';
@import './icons.css';
@import './quiz-body.css';
@import './questions-list.css';
@import './button.css';


@font-face {
    font-family: system;
    font-style: normal;
    font-weight: 300;
    src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
  }
  

* {
    box-sizing: border-box;

}


body {
    transition: all .2s;
    background-color: rgb(0, 0, 0);
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#C9D1D9;
    font-family: system;   
    
}

a {
    padding: 10px;
    float: right;
    text-decoration: none;
    color: #50688b;
}

.themetoggle {
    user-select:none;
   
}

.result-text{
        font-size: 14px;
}


 